.task-form {
  margin: 30px auto;
  max-width: 1040px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-head{
display: flex;
justify-content: space-between;
}

.task-input {
  margin-bottom: 15px;
}

.task-input label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.task-input input {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(166, 238, 143);
  box-sizing: border-box;
  outline: none;
}

.task-button {
  font-weight: 600;
  color: white;
  background-color: #4caf50; 
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}


.task-button:hover,
.task-button:focus {
  background-color: #45a049;
}

.log{
  display: flex;
  justify-content: right;
}
.log button{
  font-weight: 600;
  color: white;
  background-color: #0074f8; 
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

@media(max-width:500px){
  .task-input input{
    width: 80%;
  }
}




  

 
  